@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Montserrat:wght@400;500;600;700&family=Poppins&family=Unica+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #150e28;
  color: white;
}

button {
  background: none;
  width: 24px;
  height: 24px;
}

.border-gradient {
  border: 1px solid;
  border-image-slice: 1;
}
.border-gradient-purple {
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
}
.hero,
.rules,
.criteria {
  background-image: url("./assets/Purple-Lens-Flare-PNG.png");
  /* background-repeat: no-repeat; */
}
.second {
  background-image: url("./assets/Purple-Lens-Flare-right\ PNG\ \(1\).png");
}

hr {
  background-color: #ffffff2e;
  color: #ffffff2e;
}
